body,html{
    margin: 0;
    padding: 0;
}

header{
    height: 50vh;
    margin: 0;
    background-image:
        linear-gradient(#ffffff2a, #ffffffc5),
        url("https://kotoca.net/KOTOCA.webp");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;


    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    transition: height 0.4s ease, padding 0.4s ease;
}
header img{
    display: none;
    transition: opacity 0.4s ease;
    opacity: 0;
}
header h1{
    margin: 0;
    text-align: center;
}


body.scrolled header{
    height: 60px;
    position: fixed;
    top: 10px;
    left: 10px;
    width: calc(100% - 20px);
    border-radius: 10px;
    flex-direction: row;
    background: none;
    background-color: #fff;
    box-shadow: #aaa 0px 0px 10px;
}
body.scrolled header img{
    display: block;
    opacity: 1;
    width: 50px;
    height: 50px;
}